<!--/<p>
    <a href="{% url 'saints_website:index' %}">Sain♰s of the Past</a>
    <a href="{% url 'saints_website:saints' %}">Saints</a> 
    <a href="{% url 'saints_website:prayers' %}">Prayers</a> -
    {% if user.is_authenticated %}
        Hello, {{user.username}}.
        <a href="{% url 'users:logout' %}">logout</a>
    {% else %} 
        <a href="{% url 'users:register' %}">register</a> - 
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %} 
    <form action="{% url 'saints_website:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
</p>


-->
{% load bootstrap4 %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="veiwport" content="width=device-width, initial-scale=1">

        <title>Learning Log</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %} 

    </head>

    <body>

        <!-- Stativ navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                

                <a style ="font-size: 200%;" class="navbar-brand" href="{% url 'saints_website:index' %}">Sain♰s of the Past</a>
                <a class="navbar-brand" href="{% url 'saints_website:saints' %}">Saints</a>
                <a class="navbar-brand" href="{% url 'saints_website:prayers' %}">Prayers</a>
                <a class="navbar-brand" href="{% url 'saints_website:calendar' %}">Calendar</a>

                {% if user.is_authenticated %}
                    <h6><a>Hello, {{ user.username }}.</a></h6>
                    <h6><a class="navbar-brand" href="{% url 'users:logout' %}">log out</a></h6>
                {% else %}
                    <div class="navbar-header">
                        <button type="button" class="btn btn-primary"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                            <a style="color: white;"href="{% url 'users:login' %}">Log in</a>  
                        </button>
                    </div>
                    <h6 id="navbar"><a href="{% url 'users:register' %}">register</a></h6>       
                {% endif %}

                <div class="navbar-brand">
                    <ul class="nav navbar-nav">
                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        
                    </ul>

                </div><!--/.nav-collapse -->

            </div>
        </nav>

        <div class="container">

            <div class="page-header">
                {% block header %}{% endblock header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>

        </div> <!-- /container -->
        
    </body>
</html>