{% extends "saints_website/base.html" %}
{% load custom_tags %}
{% block content %}

    <figure>
        <img src = "{{ saint.image.url }}"
        height = "250"
        width = "150"
        alt = "Picture of Joan of /n Arc" 
        />
        <figcaption>{{saint.credit}}</figcaption>
    </figure>
    
    <pre>{{saint.status}}. {{ saint }}          {{saint.birth}} - {{saint.death}}</pre>
    </br>
    </br>
        {% for entry in entries %}
            {% splice entry.text as paragraphs%}
            {% for paragraph in paragraphs %}
                <p>{{paragraph}}</p>
            {% endfor %}

        {% empty %}
            {% lorem 4 p%}
        {% endfor %}

{% endblock content %}